#header{
	text-align: center;
	font-size: 36px;
	font: bolder;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 30px;
}

#game{
	text-align: left;
}
#container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;	
}

.footer{

  text-align: center;
}

img{
	margin-left: 490px;
	height: 200px;
	width: 300px;
	padding-bottom: 20px;

}
